{% extends "layout.html" %}

{% block title %}New password{% endblock %}

{% block main %}
    <form action="/new-password" method="post" class="w-50 mx-auto">
        <div class="mb-3 text-center">
            <h3>Change Password</h3>
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new-password" name="new-password" required>
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="show-password" onclick="showPassword()">
            <label class="form-check-label" for="show-password">Show Passwords</label>
        </div>
        <button type="submit" class="mx-auto btn btn-primary">Change My Password</button>
    </form>

    <script>
        function showPassword() {
            password1 = document.getElementById('new-password');
            password2 = document.getElementById('confirm-password');

            if (password1.type === 'password' && password2.type === 'password') {
                password1.type = 'text';
                password2.type = 'text';
            }
            else {
                password1.type = 'password';
                password2.type = 'password';
            }
        }
    </script>
{% endblock %}