<div class="me-auto w-25 h-100 p-3 pt-5">
    <!-- Inner wrapper -->
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div>
                    <a href="/inbox" class="text-reset d-flex justify-content-between align-items-start link-underline link-underline-opacity-0">
                        <span>Inbox</span>
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <a href="/today" class="text-reset d-flex justify-content-between align-items-start link-underline link-underline-opacity-0">
                        <span>Today</span>
                    </a>
                </div>
            </li>
            <li class="list-group-item mb-3">
                <div>
                    <a href="/upcoming" class="text-reset d-flex justify-content-between align-items-start link-underline link-underline-opacity-0">
                        <span>Upcoming</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>